PLATFORM_EXPORTER_PORT=9108
LITELLM_BASE_URL=http://litellm:4000
VLLM_BASE_URL=http://host.docker.internal:8000/v1
SLURM_JOB_NAME=vllm-model
SLURM_USER=ub127
HEALTH_TIMEOUT_SECONDS=3

PROMETHEUS_PORT=9090
GRAFANA_PORT=3002
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=your-grafana-password